.addpay{
    background-image: url("https://img.freepik.com/free-vector/vector-3d-businessman_1441-7.jpg?w=740&t=st=1670047457~exp=1670048057~hmac=8933c9db7a4505831108865e04ded8d4ad32ce9bcba45cc18fdb089173076dd6");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}