.update{
    background-image: url("https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?w=996&t=st=1670142602~exp=1670143202~hmac=8dd9c176ab52cd7fa72030741a4164c71c7bd5e576ce6bf3e27553fbf4514dca");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}